.supply {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.supply-rule {
  width: 100%;
  height: 2px;
  color: white;
  flex: none;
  border-style: none none solid;
}

.supply-fluid-container {
  flex: 1 1 var(--tokenSize);
  min-height: var(--tokenSize) * 4;
  overflow-y: auto;
  scrollbar-width: none;
  width: 100%;
}

.supply-fluid-container::-webkit-scrollbar {
  width: 0;
}

.supply-fixed-container {
  flex: none;
}

.token-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
  min-width: 100%;
  min-height: 100%;
}

.token-container-empty-label {
  writing-mode: vertical-lr;
  text-orientation: upright;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  flex: 1 1 auto;
  user-select: none;
}
