.supply {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.supply-generators {
  flex: none;
  min-height: var(--tokenSize);
  min-width: var(--tokenSize);
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.supply-stashed {
  flex: 1 1 var(--tokenSize);
  min-height: var(--tokenSize);
  min-width: var(--tokenSize);
  overflow-y: auto;
  scrollbar-width: none;
}

.supply-stashed::-webkit-scrollbar {
  width: 0;
}

.stash {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  height: 100%;
}

.supply-stashed-empty {
  writing-mode: vertical-lr;
  text-orientation: upright;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  flex: 1 1 auto;
}

.supply-trash {
  flex: none;
  min-height: var(--tokenSize);
  min-width: var(--tokenSize);
  display: flex;
  border: 1px solid black;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: white;
}

.supply-trash:hover {
  filter: brightness(1.5);
}
