.measure {
  position: absolute;
  pointer-events: none;
}

.measure-arrow {
  stroke: black;
  stroke-width: 0.01;
  marker-end: url(#arrowhead);
}

.measure-radius {
  stroke: black;
  stroke-width: 0.01;
  fill: transparent;
}

.measure-label {
  stroke: white;
  stroke-width: 0.001;
  fill: black;
  color: black;
}
