.token {
  background: black;
  border: 2px solid green;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
}

.token__label {
  color: white;
  font-size: 16px;
  user-select: none;
}

.token.token--ally {
  border-color: rgb(20, 152, 196);
}

.token.token--enemy {
  border-color: rgb(177, 65, 65);
}

.token__overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  color: white;

  font-size: 16px;
  font-weight: 500;

  border-radius: 50%;

  background: black;

  pointer-events: none;
}

@supports (backdrop-filter: blur(8px)) {
  .token__overlay {
    background: transparent;
    backdrop-filter: blur(8px);
  }
}
