.token__circle {
  background: black;
  border: 2px solid green;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.token__label {
  color: white;
  font-size: 16px;
}

.token.token--ally .token__circle {
  border-color: rgb(20, 152, 196);
}

.token.token--enemy .token__circle {
  border-color: rgb(177, 65, 65);
}
