.marker-token {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
}

.marker-token--red {
    --color: 0
}

.marker-token--green {
    --color: 120;
}

.marker-token--blue {
    --color: 240;
}

.marker-token__image {
    width: 32px;
    margin-top: -32px;
}

.marker-token__placemat {
    position: absolute;

    width: 12px;
    height: 12px;

    border: 2px solid transparent;
    border-radius: 50%;

    background-color: hsl(var(--color), 40%, 30%);

    z-index: -1;

    pointer-events: none;
}

.marker-token__aura {
    position: absolute;
    
    border: 2px solid hsl(var(--color), 100%, 60%);
    border-radius: 50%;

    background-color: hsl(var(--color), 100%, 30%);

    opacity: 0.3;

    z-index: -1;

    pointer-events: none;
}
